name: Generated files check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
jobs:

  check:
    name: Generated files check
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: true
    permissions:
      contents: read

    steps:
    - name: checkout repository
      uses: actions/checkout@v4

    - name: set up node
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        check-latest: true

    - name: make
      run: make
    
    - name: check for diff
      run: git update-index --refresh
